$ColourSyntaxVariable     = #4381bc
$ColourSyntaxFunctionCall = #30cf82
$ColourSyntaxEqualsSign   = #8d727a
$ColourSyntaxOperator     = #8ddd22
$ColourSyntaxNumber       = #c33c5a
$ColourSyntaxMinor        = #909090
