@import 'colours.styl'


body
  background black
  color white

.document
  .col-variable
    color $ColourSyntaxVariable
  .col-function-call
    color $ColourSyntaxFunctionCall
  .col-equals
    color $ColourSyntaxEqualsSign
  .col-operator
    color $ColourSyntaxOperator
  .col-number
    color $ColourSyntaxNumber
  .col-minor
    color $ColourSyntaxMinor
